@model WebAppMVC.Models.VENDEDOR

@{
    ViewBag.Title = "Borrar Vendedor";
}

<h2>Borrar</h2>
<br />
<br />
<h3>Estas seguro de borrar al Vendedor?</h3>
<div>
    <h4>VENDEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO_IDENTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_IDENTIFICACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIUDAD.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIUDAD.DESCRIPCION)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al menu principal", "Index")
        </div>
    }
</div>
