@model WebAppMVC.Models.VENDEDOR

@{
    ViewBag.Title = "Detalle Vendedor";
}

<h2>Detalle del vendedor</h2>
<br />
<br />
<div>
    <h4>VENDEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO_IDENTIFICACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_IDENTIFICACION)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CIUDAD.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIUDAD.DESCRIPCION)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.CODIGO }) |
    @Html.ActionLink("Regresar al menu principal", "Index")
</p>
