@model IEnumerable<WebAppMVC.Models.VENDEDOR>

@{
    ViewBag.Title = "PRUEBA TÉCNICA";
}

<h2>PRUEBA TÉCNICA ELEMPLEO.COM </h2>
<br />
<br />
<p>
    @Html.ActionLink("Crear Vendedor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO_IDENTIFICACION)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CIUDAD.DESCRIPCION)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APELLIDO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NUMERO_IDENTIFICACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIUDAD.DESCRIPCION)
            </td>
            <td>
                @Html.ActionLink("Editar Vendedor", "Edit", new { id = item.CODIGO }) |
                @Html.ActionLink("Detalle Vendedor", "Details", new { id = item.CODIGO }) |
                @Html.ActionLink("Borrar Vendedor", "Delete", new { id = item.CODIGO })
            </td>
        </tr>
    }

</table>
